*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  caret-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

[data-prevent-flicker="true"] {
  visibility: hidden;
}

[preloader] {
  display: block;
}

@media screen and (orientation: landscape) and (max-width: 991px) {
  .landscape-cover {
    display: block;
  }
}

.unset-all {
  all: unset;
}

.class-name::-webkit-scrollbar {
  display: none;
}

[svg="animated"] path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  visibility: hidden;
}

::-moz-selection {
  color: var(--_colors---base-0--100);
  background: var(--_colors---base-1000--100);
}

::selection {
  color: var(--_colors---base-0--100);
  background: var(--_colors---base-1000--100);
}

::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

::-webkit-scrollbar-button {
  width: 0em;
  height: 0em;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 1);
}

#root {
  min-height: 100%;
}

.mountain-parallax-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
    overflow: hidden;
}

#piercing-mountain {
    width: 70%;
    height: auto;
    object-fit: contain;
    transform: translateY(100%);
    opacity: 0;
    will-change: transform, opacity;
}

.light-bg {
    background: linear-gradient(180deg, #7A716E 0%, #FFF8ED 100%);
}
.sky-bg_about_grad-over {
    background: linear-gradient(180deg, #015AA9 0%, #8FC2D7 50%, #FFF8ED 100%);
}
.sky-bg_hero_grad-over {
    background: linear-gradient(180deg, rgba(1, 90, 169, 0.00) 0%, rgba(1, 90, 169, 0.01) 11.79%, rgba(1, 90, 169, 0.03) 21.38%, rgba(1, 90, 169, 0.07) 29.12%, rgba(1, 90, 169, 0.12) 35.34%, rgba(1, 90, 169, 0.18) 40.37%, rgba(1, 90, 169, 0.25) 44.56%, rgba(1, 90, 169, 0.33) 48.24%, rgba(1, 90, 169, 0.41) 51.76%, rgba(1, 90, 169, 0.50) 55.44%, rgba(1, 90, 169, 0.59) 59.63%, rgba(1, 90, 169, 0.67) 64.66%, rgba(1, 90, 169, 0.76) 70.88%, rgba(1, 90, 169, 0.85) 78.62%, rgba(1, 90, 169, 0.93) 88.21%, #015AA9 100%);
}

.dark-bg {
    background: linear-gradient(180deg, #312726 0%, #2D2423 11.79%, #292120 21.38%, #251E1D 29.12%, #211A1A 35.34%, #1D1716 40.37%, #181313 44.56%, #141010 48.24%, #100D0C 51.76%, #0C0A0A 55.44%, #090707 59.63%, #060505 64.66%, #030303 70.88%, #020101 78.62%, #000 88.21%, #000 100%);
}
